$max-width:1350px;
$blue:#0077B5;
$light-blue:#00A0DC;
$background-color: #27241D;
$gray:#86888A;
$light-gray:#CACCCE;
$dark-black:#000;
$black:#181A1B;
$light-black:#212224;   
$soft-white:#ccc;
$white:#fff;
$yellow:#FFC300;
$green:#357C3C;
$turqua:#00C897;
$light-red:#FC4F4F;
